<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco de Clientes</title>
    <link rel="stylesheet" href="../../src/css/style.css">
    <link rel="stylesheet" href="../../src/css/2AT/employees.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container">
        <div class="container-main">
            <div class="main">
                <h1>Banco de Clientes</h1>
                <div class="check">
                    <div class="input">
                        <input type="text" id="nameClient" placeholder="Nome do Cliente">
                    </div>
                    <div class="input">
                        <input type="number" id="cpfClient" placeholder="CPF">
                    </div>
                    <button class="btn btn-adicionar">Adicionar Cliente</button>
                    <button class="btn btn-procurar">Procurar Cliente</button>
                </div>
            </div>
        </div>
        <div class="clients-container"></div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../src/js/3AT/banco_clientes.js"></script>
</body>
</html>