<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Eventos</title>
    <link rel="stylesheet" href="../../src/css/style.css">
    <link rel="stylesheet" href="../../src/css/2AT/to_do_list.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container">
        <div class="container-main">
            <div class="main">
                <h1>Lista de Eventos</h1>
                <div class="check">
                    <div class="input">
                        <input class="input" type="text" id="taskInput" placeholder="Digite a tarefa">
                    </div>
                    <div class="input">
                        <input class="input" type="datetime-local" id="dataHora">
                    </div>

                    <button class="btn">Adicionar</button>
                </div>

            </div>

        </div>
        
        <ul id="taskList"></ul>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="../../src/js/3AT/event.js"></script>
</body>
</html>