<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Potência</title>
    <link rel="stylesheet" href="../../src/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container">
        <div class="container-main">
            <div class="main">
                <h1>Calculadora de Potência</h1>
                <div class="check">
                    <div class="input">
                        <input type="text" id="base" placeholder="Digite a base">
                    </div>
                    <div class="input">
                        <input type="text" id="expoente" placeholder="Digite o expoente">
                    </div>
                    <button class="btn">Calcular</button>
                </div>

                <div class="result">
                    <div class="value" id="value"></div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="../../src/js/1AT/potencia.js"></script>
</body>
</html>