<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maior e Menor Número</title>
    <link rel="stylesheet" href="../../src/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container">
        <div class="container-main">
            <div class="main">
                <h1>Maior e Menor Número</h1>
                <div class="check">
                    <div class="input">
                        <input class="input" type="text" id="numbersInput" placeholder="Digite os números">
                    </div>
                    <div class="input">
                        <input class="input" type="text" id="separatorInput" placeholder="Digite o separador">
                    </div>
                    <button class="btn">Achar</button>
                </div>

                <div class="result">
                    <div class="" id="maxNumber"></div>
                    <div class="" id="minNumber"></div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="../../src/js/2AT/bigger_smaller.js"></script>
</body>
</html>