<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Funcionario</title>
    <link rel="stylesheet" href="../../src/css/style.css">
    <link rel="stylesheet" href="../../src/css/2AT/employees.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container">
        <div class="container-main">
            <div class="main">
                <h1>Adicionar Funcionario</h1>
                <div class="check">
                    <div class="input">
                        <input type="text" id="nameEmployee" placeholder="Nome do Funcionário">
                    </div>
                    <div class="input">
                        <input type="text" id="salaryEmployee" placeholder="Salário do Funcionário">
                    </div>
                    <button class="btn">Adicionar</button>
                </div>

                <div class="result show">
                    <div class="" id="nameMaxSalary">-</div>
                    <div class="" id="totalSalary">0</div>
                </div>
            </div>
        </div>
        <div class="employees-container"></div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="../../src/js/2AT/employees.js"></script>
</body>
</html>