<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/css/2AT/filter_movies.css">
    <link rel="stylesheet" href="../../src/css/style.css">
    <title>Cinema</title>
</head>
<body>
    <section class="container">
        <div class="search-container">
            <label class="search-icon" for="search-input"></label>
            <input
                type="text"
                name="search-input"
                class="search-input"
                id="search-input"
                placeholder="Procurar filmes"
            />
        </div>
        <div class="movies-container"></div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="../../src/js/2AT/filter_movies.js"></script>
</body>
</html>