:root {
    --cor-background: #212123;
    --cor-reflexo: rgba(255, 255, 255, 0.4);
    --cores-dancantes: rgb(76, 217, 105), rgb(52, 170, 220), rgb(88, 86, 217),
        rgb(255, 45, 83);
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#00266c, #e3009f);
}

.fundo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
}

.fundo h2 {
    margin: 0 0 80px;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
}

.fundo .box {
    position: relative;
}

.fundo .box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
}

.fundo .box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
    pointer-events: none;
    transition: .5s;
}

.fundo .box input:focus~label,
.fundo .box input:valid~label {
    top: -20px;
    left: 0;
    color: #ffffff;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    letter-spacing: 0px;
}


.conteudo {
    background: linear-gradient(to right, var(--cores-dancantes));
    width: 250px;
    height: 60px;
    border-radius: 10px;
    position: relative;
    z-index: 999;
    animation: coresDancantes 2s linear infinite;
}

@keyframes coresDancantes {
    100% {
        filter: hue-rotate(360deg);
    }
}

.conteudo .submit-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.submit-btn {
    z-index: 1;
    background-color: var(--cor-background);
    width: 240px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
}

select {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
}

.box {
    font-size: 20px;
}