# Arquivos e pastas criados pelo Python
.cache/
.config/
.upm/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais do Python (por exemplo, criados com virtualenv ou venv)
venv/
env/
*.env

# Arquivos de configuração para IDEs específicos (por exemplo, Visual Studio Code)
.vscode/

# Arquivos gerados pelo setuptools/distutils
build/
dist/

# Logs e arquivos temporários
*.log
*.bak
*.tmp
*.breakpoints
*.replit
*.lock
*.toml
*.nix

# Arquivos de cache de pacotes e dependências
*.egg-info/
pip-wheel-metadata/